#navigation, #name-and-slogan, #block-system-navigation h2, .node-teaser h2, .node-teaser .submitted, .field-label, .submitted, label, #comments h2, #comments h3, #comments a, #edit-comment-body-und-0-format, .links, .links a, #edit-subject, #comment-form label, li.comment-forbidden {
  display: none;
}

#block-system-navigation .content .menu {
  list-style: none;
  display: inline;
  position: absolute;
  text-align: center;
  z-index: 2147483647 !important;
  margin-left: 35vw;
  float: right;
}

.field-item p {
  font-size: 50px;
}

#comments  p {
  font-size: 25px;
  margin-left: 60px;
}

#node-1 p {
  font-size: inherit;
}

.views-row a {
  font-size: 25px;
  font-style: normal;
  color: black;
  text-decoration: none;
}

.views-row {
    padding-bottom: 3px;
    border-bottom: 2px solid black;
}


.leaf {
  display: inline;
  z-index: 2147483647 !important;
  background-color: rgba(0, 0, 255, 0.5);
  border: 3px solid black;
  padding-left: 50px;
}

label, input {
  display: inline;
}

#node-1 h2, #node-1 .links {
  display: none;
}
.candidateButton {
  margin-right: 5px;
  display: hidden;
}

.item-list {
  margin-top: 40px;
}

#edit-slider {
  width: 400px;
}
