#navigation, #name-and-slogan, #block-system-navigation h2, .node-teaser h2, .node-teaser .submitted  {
  display: none;
}

#block-system-navigation .content .menu {
  list-style: none;
  display: inline;
  position: absolute;
  text-align: center;
  z-index: 2147483647 !important;
  margin-left: 35vw;
  float: right;
}

.leaf {
  display: inline;
  z-index: 2147483647 !important;
  background-color: rgba(0, 0, 255, 0.5);
  border: 3px solid black;
  padding-left: 50px;
}

label, input {
  display: inline;
}

#node-1 h2, #node-1 .links {
  display: none;
}
.candidateButton {
  margin-right: 5px;
  display: hidden;
}
